/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/docs export-ignore
/ecs.php export-ignore
/phpspec.yml.dist export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
/src/Bundle/spec export-ignore
/src/Bundle/test export-ignore
/src/Component/spec export-ignore
/src/Component/.gitignore export-ignore
/src/Component/phpspec.yml.dist export-ignore
/src/Component/phpunit.xml.dist export-ignore
/tests export-ignore
