/.gitbook.yaml export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php_cs.dist export-ignore
/docker-compose.yml export-ignore
/Dockerfile export-ignore
/docs export-ignore
/ecs.php export-ignore
/Makefile export-ignore
/phpspec.yml.dist export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml export-ignore
/rector.php
/src/Bundle/spec export-ignore
/src/Component/spec export-ignore
/src/Component/Tests export-ignore
/src/Component/tests export-ignore
/src/Component/phpspec.yml.dist export-ignore
/src/Component/phpunit.xml.dist export-ignore
/tests export-ignore
