suites:
    Bundle:
        namespace: Sylius\Bundle\ResourceBundle
        psr4_prefix: Sylius\Bundle\ResourceBundle
        src_path: src/legacy/Bundle
        spec_path: src/legacy/Bundle
    Component:
        namespace: Sylius\Component\Resource
        psr4_prefix: Sylius\Component\Resource
        src_path: src/legacy/Component
        spec_path: src/legacy/Component
    Package:
        namespace: Sylius\Resource
        psr4_prefix: Sylius\Resource
        src_path: src/new-architecture/
        spec_path: src/new-architecture/

extensions:
    Akeneo\SkipExampleExtension: ~
