<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
         colors="true"
>
    <php>
        <ini name="error_reporting" value="-1" />

        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
    </php>

    <testsuites>
        <testsuite name="SyliusResourceBundle Test Suite">
            <directory>./src/Bundle/test/</directory>
            <directory>./src/Bundle/Tests/</directory>
            <directory>./src/Component/Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
