{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Subscription</h1>

    <h3>ID: {{ resource.id }}</h3>
    <ul>
        <li>Email: {{ resource.email }}</li>
        <li>Foo: {{ foo }}</li>
    </ul>
{% endblock %}
